<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-tab">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-class-tab">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>My Class</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="attendance-tab">
      <ion-icon name="square"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account-tab">
      <ion-icon name="square"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
