.profile-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-pic-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    border-radius: 50%;
    height: 35%;
    width: 35%;
}

.profile-detail-section{
    background:#ffffff;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-right-radius: 130px;
    padding: 20px;
}

.profile-name{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
}

.role{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
}

.detail-grid{
    margin-top: 30px;
}

ion-col{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.back-button{
    display: flex;
    
}


// .profile-pic{
//     height: 250px;
//     width: 200px;
// }
// .data-card{
//     border-top-right-radius: 125px;
// }
// .header{
//     color: white;
//     font-size:larger;
// }
// .text1{
// padding-left: 10px;
// }
