.login-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  justify-content: center;
}

.login-heading {
  font-family: 'Yeon Sung', cursive;
  font-size: 25px;
  font-weight: bold;
}

.logo {
  height: 150px;
}

.login-section {
  background: #ffffff;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly flex-start
}

ion-item {
  border-radius: 15px;
  --background: #181829;
  --color: #ffffff;
}

ion-input {
  caret-color: #ffffff;
}


.quote-card {
  border-radius: 15px;
}

.profile-card {
  margin-top: -40px;
  height: 75px;
  border-radius: 12px;
background: #ffffff;
padding: 10px;
  
}

.username-title{
  font-family: 'Yeon Sung', cursive;
  font-size: 22px;
  font-weight: bold;
}

.username-subtitle{
  font-family: 'Yeon Sung', cursive;
  font-size: 18px;
  font-weight: bold;
}

.quotes-title{
  font-family: 'Yeon Sung', cursive;
  font-weight: bold;
}

.quotes-text{
  font-family: 'Yeon Sung', cursive;
  font-size: 18px;
  font-weight: bold;
}