<ion-content color="primary" >
  <div class="login-page">
    <div class="ion-page" id="mainContent" main>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
    <div class="logo-section">
      <img src="assets/logos/logoBG.png" class="logo" />
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openProfilePage()" style="--background: #ffffff;">
          <img src="{{profilePicUrl}}" />
        </ion-fab-button>
      </ion-fab>
    </div>

    <div class="login-section">

      <ion-card class="profile-card">
        <ion-text color="primary" class="username-title">Hi {{fullname}}!</ion-text>
        <br>
        <ion-text color="primary" class="username-subtitle">Let's start teaching!</ion-text>
      </ion-card>
      

      <ion-card color="primary" class="quote-card">
        <ion-card-header>
          <ion-card-subtitle>15-08-2022</ion-card-subtitle>
          <ion-card-title class="quotes-title">Quotes for the Day!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div *ngFor="let item of quotes | async">
            <ion-text class="quotes-text">
              "{{item.payload.val().quote}}"
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>

    </div>
  </div>
</ion-content>